{
  "extends": [
    "eslint-config-airbnb",
    "plugin:flowtype/recommended",
    "prettier",
    "prettier/flowtype",
    "prettier/react"
  ],

  "parser": "babel-eslint",

  "plugins": [
    "flowtype"
  ],

  "rules": {
    "react/jsx-filename-extension": ["error", { "extensions": [".js"] }]
  }
}
